<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56069614938-c6v42mgf6bnkict5o9loou9ll67gp0dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56069614938-c6v42mgf6bnkict5o9loou9ll67gp0dv</string>
	<key>API_KEY</key>
	<string>AIzaSyCHRDcmFk3PV2VCcvS37yLx1OLU91RQW9E</string>
	<key>GCM_SENDER_ID</key>
	<string>56069614938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freshGroceryApp</string>
	<key>PROJECT_ID</key>
	<string>fresh---grocery-shopping-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fresh---grocery-shopping-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56069614938:ios:594df7cc82495558929763</string>
</dict>
</plist>